/* =========================================

COMPONENTS/MENU.LESS

=========================================*/

#menu{
	margin: 20px auto 40px;
	h2{
		color: @textcolor;
		font-family: 'Holtwood One SC', serif;
		font-size: 40px;
		letter-spacing: 1px;
		text-align: center;
		padding: 20px 0;
		border-bottom: 1px solid @textcolor;
	}
	h3{
		color: @textcolor;
		font-family: 'Holtwood One SC', serif;
		font-size: 18px;
		letter-spacing: 1px;
		@media (min-width: @screen-sm){
			font-size: 24px;
		}
		@media (min-width: @screen-md){
			font-size: 30px;
		}
	}
	ul{
		padding: 10px 0;
		border-top: 1px dotted @lightBrown;
		list-style: none;
		@media (min-width: @screen-md){
			border-top: none;
			padding: 0;
		}
		li{
			@media (min-width: @screen-md){
				padding-top: 5px;
			}
			h5{
				color: @textcolor;
				font-size: 16px;
				@media (min-width: @screen-md){
					font-size: 21px;
				}
				span{
					font-size: 10px;
					margin-bottom: 5px;
					@media (min-width: @screen-md){
						font-size: 12px;
						margin-bottom: 6px;
					}
				}
			}
			p{
				color: @lightBrown;
				font-size: 12px;
				margin-top: -6px;
				@media (min-width: @screen-md){
					font-size: 14px;
				}
			}
		}
	}
	.teaMenu{
		@media (min-width: @screen-md){
			text-align: right;
		}
		ul > li{
			@media (min-width: @screen-md){
				text-align: right;
			}
		}
	}
	.specials{
		overflow: hidden;
		margin-top: 30px;
		.special1{
			background: url('../img/special-shirts.jpg') no-repeat center;
		}
		.special2{
			background: url('../img/special-beans.jpg') no-repeat center;
			@media (min-width: @screen-md){
				margin-top: 20px;
			}
		}
		.special1, .special2{
			background-size: 100%;
			text-indent: -999px;
			height: 115px;
			border: 5px solid @lightBrown;
			margin-left: 0px;
			overflow: hidden;
			@media (min-width: @screen-sm){
				height: 250px;
				border: 10px solid @lightBrown;
			}
			@media (min-width: @screen-md){
				height: 250px;
			}
		}
	}
}